name: run-tests

on:
    push:
    schedule:
        - cron: '0 0 */5 * *'

jobs:
    test:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                php: [8.3, 8.2, 8.1, 8.0, 7.4]
                laravel: [10.*, 9.*]
                dependency-version: [prefer-lowest]
                os: [ubuntu-latest]
                exclude:
                    - php: 7.4
                      laravel: 10.*

        name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.os }}

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Cache dependencies
              uses: actions/cache@v4
              with:
                  path: ~/.composer/cache/files
                  key: dependencies-laravel-${{ matrix.laravel }}-php-${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  coverage: none

            - name: Install dependencies
              run: |
                  composer require "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" --no-interaction --no-update
                  composer update --${{ matrix.dependency-version }} --prefer-dist --no-interaction --no-suggest
            - name: Execute tests
              run: composer test
